
.w3-image {
    border-radius: 8px;
    width: 400px;
    height: 250px;
    padding: 1%;
}

.results {
    text-align: center;
    padding: 3%;
}

.before-after-b {
    padding-left: 2%;
    padding-bottom: 3%;
}

.before-after-m {
    padding-left: 2%;
}

.botox {
    margin-left: 5%;
}

.micro {
    margin-left: 5%;
}
