
.form-group {
    align-content: center;
    text-align: center;
    size: 50px;
}

.form-label {
    margin: 5%;
    padding: 0%;
}

h1.reviews {
    margin: 2%;
    text-align: center;
}

/* btn.custom {
    
} */

.btn.primary {
    text-align: center;
    align-content: center;
}

.review-form {
    text-align: center;
    align-content: center;
}