
h1 {
    font-family: 'Roboto', sans-serif;
    /* text-shadow: 1px 1px 0 #ddd; */
}

p {
    font-family: 'Roboto', sans-serif;
    /* text-shadow: 1px 1px 0 #ddd; */
}

.container-home {
    text-align: center;
}

.vision {
    padding: 5%;
    margin: 5%;
}

.team {
    padding: 2%;
    margin: 2%;
}
