h1 {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(226, 174, 181); */
}

p {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(226, 174, 181); */
}

.container-home {
    text-align: center;
}

.vision {
    padding: 5%;
    margin: 5%;
}

.team {
    padding: 2%;
    margin: 2%;
}

/* * {
    background-image: linear-gradient(to top,
    rgba(0,0,0,1),
    rgba(0,0,0,.4),
    rbga(0,0,0,.7),
    rgba(0,0,0,0));
} */