
input {
    width: 600px;
}

textarea {
    height: 10em;
    width: 600px;
}

div[role='alert'] {
    color: red;
    margin-top: 1em;
}

.message-chars-left {
    width: 600px;
    margin: auto;
    text-align: left;
}

h1.contact {
    margin: 2%;
    text-align: center;
}